@mixin font-set($font-size, $line-height, $letter-spacing, $font-family) {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    font-family: $font-family;
}

@mixin font-set-partial($font-size1, $line-height1){
    font-size: $font-size1;
    line-height: $line-height1;
}
