
$phone-only : 575.98px;
$tablet-port : 767.98px;
$tablet-land : 991.98px;
$desktop-md : 1199.98px;
$desktop-lg-up : 1200px;
$desktop-lg-xl: 1440px;

//updated break points
$phone-small: 320px;
$phone-mid: 375px;
$phone-mid-max: 449.98px;
$phone-large-small-min: 575px;
$phone-large-min: 576px;
$phone-large: 767px;
$ipad: 768px;
$ipad-pro: 1024px;
$ipad-xl: 1023px;
$ipad-mid: 960px;
$ipad-large: 992px;
$desktop-mini: 1366px;
$desktop-mid: 1600px;
$desktop-mid-plus: 1680px;
$desktop-big: 1920px;
$desktop-big-mid: 2047px;
$desktop-biggest: 2560px;
$desktop-superior: 2762px;
$desktop-small: 1280px;
